<div class="card-container">
    <div class="card-wp">
        <div class="today text-center">
            {{dateName}}
        </div>
        <div class="icon">
            <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="">
        </div>
        <div class="temperature text-center">
            Max: {{tempMax}}°F <br>
            Min: {{tempMin}}°F
        </div>
        <div class="humidity text-center">
            H: {{humidity}}%
        </div>
        <div class="humidity text-center">
            W: {{windSpeed}}MPH
        </div>
    </div>
</div>