.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #E6E6FA!important;
}

.card-wp{
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today {
    font-size: 15px;
    color: #E6E6FA!important;
}

.icon{
    width: 60px;
    height: 60px;
    margin: 20px 0 ;
    img {
        height: 100%;
        width: 100%;
    }
    
}
.temperature{
    font-size: 20px;

    margin: 20px 0 ;
    color: #E6E6FA!important;

}

.humidity{
    font-size: 10px;
    color: #E6E6FA!important;
}