<div class="weather-card-container">
    <div class="weather-card-wp">
        <div class="weather-card-left">
            <app-current-date-card
                [temperature]='(weatherService.getCurrentWeatherObj(inputCityName)| async)!.temp'
                [icon]='(weatherService.getCurrentWeatherObj(inputCityName)| async)!.icon'
                [humidity]='(weatherService.getCurrentWeatherObj(inputCityName)| async)!.humidity'
                [city]='inputCityName'
                [windSpeed]='(weatherService.getCurrentWeatherObj(inputCityName)| async)!.windSpeed'
    
            ></app-current-date-card>
        </div>
        <div class="weather-card-right">
            <div class="input-wp" *ngIf='hasSearch'>
                <app-input-autocomplete (optionSelected)="onSelectionChanged($event)" [options]='citiesNames'></app-input-autocomplete>
            </div>
            <div class="next-cards-wp">
                <div class="next-card-item" *ngFor="let day of (weatherService.getNextDaysWeatherObj(inputCityName) | async)">
                    <app-next-date-card
                    [dateName]='day.date'
                    [humidity]='day.humidity'
                    [icon]='day.icon'
                    [tempMax]='day.tempMax'
                    [tempMin]='day.tempMin'
                    [windSpeed]='day.windSpeed'
                    [title]='day.title'
                    ></app-next-date-card>
                </div>
            </div>
            <div class="fav-wp">
                 <button (click)='addToFavor()'>{{favoritesService.isCityInFavorites(inputCityName) ? "Remove from" : "Add to"}} Favorites</button>
            </div>
        </div>
    </div>
    
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>


