<div class="weather-card-wp">
    <div class="weather-card-left">
        <app-current-date-card
            [temperature]='(weatherService.currentWeather$ | async)!.temp'
            [icon]='(weatherService.currentWeather$ | async)!.icon'
            [humidity]='(weatherService.currentWeather$ | async)!.humidity'
            [city]='(weatherService.selectedCity$ | async)!.name'
            [windSpeed]='(weatherService.currentWeather$ | async)!.windSpeed'

        ></app-current-date-card>
    </div>
    <div class="weather-card-right">
        <div class="input-wp">
            <app-input-autocomplete (optionSelected)="onSelectionChanged($event)" [options]='citiesNames'></app-input-autocomplete>
        </div>
        <div class="next-cards-wp">
            <div class="next-card-item" *ngFor="let day of fiveDaysArray">
                <app-next-date-card></app-next-date-card>
            </div>
        </div>
        <div class="fav-wp">
             <button (click)='addToFavor()'>Add to Favorites</button>
        </div>
    </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

