<div class="card-container">
    <div class="card-wp">
        <div class="today text-center">
            Today
        </div>
        <div class="icon">
            <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="">
        </div>
        <div class="temperature text-center">
            {{temperature}}°F
        </div>
        <div class="city text-center">
            {{city}}
        </div>
        <div class="humidity text-center">
            Humidity: {{humidity}}%
        </div>
        
    </div>
</div>