.dashboard-container{
    background-color: #1d1160;
    padding: 10px;
    display: flex;
    justify-content: center;
    // height: 100vh;
}

.weather-card-container{
    background-color: #662d91;
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}